{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container">
        <div class="row my-5">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6">

                <div class="jumbotron text-center">
                    <h1 class="display-4">Enregistrez Vous</h1>
                    <hr class="my-4">

                    Username <br>
                    name <br>
                    email <br>

                    <a class="btn btn-primary btn-lg" href="#" role="button">create account</a>

                </div>

                    <h1></h1>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
