{% extends 'base.html.twig' %}

{% block title %}Enregistrement{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6">
                <h1 class="my-5 text-center">S'incrire sur SnowTrick</h1>
                <div class="border border-primary py-5 px-5">
                    {{ form_start(form) }}

                    {{ form_widget(form) }}

                    <div class="row mt-5 mb-3">
                        <div class="col text-center">
                            <button type="submit" class="btn btn-primary">Créer un compte</button>
                        </div>
                    </div>
                    {{ form_end(form) }}
                    <div class="row">
                        <div class="col text-center">
                            <a href="{{ path('account_login') }}" >Déja un compte ?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
