.banniere-accueil{
    background-image: url("../imageApp/banniere.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

.slogan{
    font-family: "Cabin Sketch", cursive;
    font-weight: bold;
    font-size: 3em;
    text-shadow: 0 0 3px #FF0000, 0 0 5px white;
}

div.trick-title {
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 1200px;
    border-radius: 20px;

}

.trick-card{
    width: 20rem;

}

.trick-picture{
    height: 200px;
    width: 300px;
}

.trick-picture-trick{
    height: 200px;
    width: 250px;
}

.small-coverImage{
    height: 30px;
    width: 30px;
}


/* Pour le label du input file */
.custom-file-label::after{
    content: "Parcourir";
}

/* Pour l'affichage du titre du trick sur son cover image */
@media (max-width: 580px) {
    .slogan {
        font-size: 2em;
    }
}

/* Bouton Voir media*/
.bouton-media{
    display: none;
}



/* Pour cacher les medias avec un ecran reduit*/
@media (max-width: 768px) {

    div.row.my-3.col.mx-auto.media-trick {
        display: none;
    }

    /*Fait apparaitre le bouton*/
    .bouton-media{
        display: inline;
    }

}