{% extends 'base.html.twig' %}


{% block body %}
    <div class="container-fluid my-3">
        <div class="row banniere-accueil jumbotron">
            <div class="col text-center align-self-center">
                <h1 class="h6"><span class="slogan">Bienvenue sur SNOWTRICKS pour partager vos figures avec le monde</span></h1>
            </div>
        </div>

        <a href="#footer" class="btn btn-primary float-right mt-1"><i class="fas fa-arrow-down"></i></a>


        {% include "/trick/_trick.html.twig" %}

        <div class="d-flex justify-content-center" id="loadMoreDiv">
                <div class="card">
                    <a href="#"><div id="loadMore" class="card-body text-center"> <img id="ajax-loading" src="{{ asset('imageApp/ajax-loader.gif') }}" alt="Loading" /> Load more</div></a>
                </div>
        </div>
        <a href="#" class="btn btn-primary float-right mt-1"><i class="fas fa-arrow-up"></i></a>
    </div>


{% endblock %}

{% block javascripts %}

    <script src="{{ asset('js/accueil.js') }}"></script>

{% endblock %}