{% extends 'base.html.twig' %}


{% block body %}
    <div class="container-fluid my-3">
        <div class="row banniere-accueil jumbotron">
            <div class="col text-center align-self-center">
                <h1 class="h6"><span class="slogan">Bienvenue sur SNOWTRICKS pour partager vos figures avec le monde</span></h1>
            </div>
        </div>

        <a href="#footer" class="btn btn-primary float-right mt-1"><i class="fas fa-arrow-down"></i></a>


{#
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="imageApp/banniere.jpg" class="d-block w-100 img-fluid rounded" alt="banniere du site">

                    <div class="carousel-caption">
                        <h1>Tricks for the life, for the good time, we like that</h1>

                    </div>
                    <a href="#footer" class="btn btn-primary float-right mt-1"><i class="fas fa-arrow-down"></i></a>

                </div>
            </div>
        </div>

#}

        {% include "/trick/_trick.html.twig" %}

        <div class="row">

            <div class="card offset-md-5 col-md-2 offset-md-5">
                <a href="#"><div id="loadMore" class="card-body text-center"><i class="fas fa-spinner"></i> Load more</div></a>
            </div>

        </div>
        <a href="#" class="btn btn-primary float-right mt-1"><i class="fas fa-arrow-up"></i></a>
    </div>


{% endblock %}

{% block javascripts %}
    <script>
    //attend que le DOM soit chargé
        $( document ).ready(function(){
            const loadMore = $("#loadMore");

            loadMore.click(function(e){

                let nbCard = $(".card.border-info.trick-card").length;
                e.preventDefault();
                $.ajax({
                    url: "{{ path('more_tricks') }}",
                    type: "POST",
                    data: { "nbCard": nbCard }

                }).done(function(data){
                    console.log(data);
                    //recupere l'emplacement
                    const placeToInsert = $(".row.mx-3");

                    //insertion avec boucle
                    for(let i=0; i<data.length;i++){

                        let divAuto = document.createElement('div');
                        divAuto.className = 'mx-auto my-5';

                        let div = document.createElement('div');
                        div.className = 'card border-info trick-card';

                        let divHeader = document.createElement('div');
                        divHeader.className = "card-header";

                        let imageCover = document.createElement('img');
                        imageCover.className = 'rounded img-fluid trick-picture';
                        imageCover.alt = 'image du trick ' + data[i].titre;

                        if(data[i].coverImage){
                            imageCover.src = "{{ asset('uploads/images/') }}" + data[i].coverImage;
                        }else{
                            imageCover.src = "{{ asset('imageApp/snowboard.jpg') }}";
                        }

                        let divBody = document.createElement('div');
                        divBody.className = 'card-body';

                        let divRow = document.createElement('div');
                        divRow.className = 'row';

                        let divCol = document.createElement('div');
                        divRow.className = 'col-12';

                        let lienSlug = document.createElement('a');
                        lienSlug.href = "/trick/" + data[i].slug;

                        let titreCard = document.createElement('h4');
                        titreCard.className = "card-title text-center";
                        titreCard.textContent = data[i].titre;

                        lienSlug.append(titreCard);
                        divCol.append(lienSlug);
                        divRow.append(divCol);
                        divBody.append(divRow);
                        divHeader.append(imageCover);
                        div.append(divHeader);
                        div.append(divBody);
                        divAuto.append(div);
                        placeToInsert.append(divAuto);
                    }
                });

            });
        });
    </script>

{% endblock %}