{% extends 'base.html.twig' %}


{% block body %}
    <div class="container-fluid my-3">

        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="imageTest/banniere.jpg" class="d-block w-100 img-fluid rounded" alt="banniere du site">

                    <div class="carousel-caption">
                        <h1>Tricks for the life, for the good time, we like that</h1>

                    </div>
                    <a href="#footer" class="btn btn-primary float-right mt-1"><i class="fas fa-arrow-down"></i></a>

                </div>
            </div>
        </div>


        <div class="row mx-3">
            {% for trick in tricks %}
                <div class="mx-auto my-5">
                    <div class="card border-info mb-3" style="max-width: 20rem;">
                        <div class="card-header">
                            <img src="imageTest/sports.jpeg" alt="image du trick" class="rounded img-fluid">
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-8">
                                    <a href="#"><h4 class="card-title">{{ trick.titre }}</h4></a>
                                </div>
                                <div class="col-2">
                                    <a href="show/{{ trick.id }}"><i class="fas fa-pen"></i></a>
                                </div>
                                <div class="col">
                                    <i class="fas fa-trash" onclick="alert('Confirmation')"></i>
                                </div>




                            </div>




                        </div>
                    </div>
                </div>
            {% endfor %}


        </div>

        <div class="row">

            <div class="card offset-md-5 col-md-2 offset-md-5">
                <div class="card-body text-center"><i class="fas fa-spinner"></i> Load more</div>
            </div>

        </div>
        <a href="#" class="btn btn-primary float-right mt-1"><i class="fas fa-arrow-up"></i></a>
    </div>


{% endblock %}