{% extends 'base.html.twig' %}


{% block body %}
    <div class="container-fluid my-3">
        <div class="row banniere-accueil">
            <div class="col text-center align-self-center">
                <span class="slogan">Bienvenue sur SNOWTRICKS pour partager vos figures avec le monde</span>
            </div>
        </div>

        <a href="#footer" class="btn btn-primary float-right mt-1"><i class="fas fa-arrow-down"></i></a>


{#
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="imageTest/banniere.jpg" class="d-block w-100 img-fluid rounded" alt="banniere du site">

                    <div class="carousel-caption">
                        <h1>Tricks for the life, for the good time, we like that</h1>

                    </div>
                    <a href="#footer" class="btn btn-primary float-right mt-1"><i class="fas fa-arrow-down"></i></a>

                </div>
            </div>
        </div>

#}

        {% include "/trick/_trick.html.twig" %}

        <div class="row">

            <div class="card offset-md-5 col-md-2 offset-md-5">
                <div class="card-body text-center"><i class="fas fa-spinner"></i> Load more</div>
            </div>

        </div>
        <a href="#" class="btn btn-primary float-right mt-1"><i class="fas fa-arrow-up"></i></a>
    </div>


{% endblock %}