{% extends 'admin/base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row my-5 justify-content-center">
            <div class="col-md-3">
                <div class="card bg-warning text-white mb-3 text-center">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <i class="fas fa-users fa-3x"></i>
                            </div>
                            <div class="col-8">
                                <h4 class="card-title">{{ nbUsers }} utilisateurs inscrit</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card bg-info text-white mb-3 text-center">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <i class="fas fa-snowboarding fa-3x"></i>
                            </div>
                            <div class="col-8">
                                <h4 class="card-title">{{nbTricks}}  Tricks</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card bg-success text-white mb-3 text-center">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <i class="fas fa-comment-dots fa-3x"></i>
                            </div>
                            <div class="col-8">
                                <h4 class="card-title">{{nbComments}}  Commentaires</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <hr>

    </div>
{% endblock %}
