{% extends 'base.html.twig' %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}

    <div class="container my-3">
        <h1>La page recherché n'éxiste pas !</h1>
        <br>
        <a href="{{ path('accueil') }}" class="btn btn-primary">Retour à l'accueil</a>
        <a href="{{ path('all_trick') }}" class="btn btn-outline-dark">Les tricks</a>
    </div>

{% endblock %}