{% extends 'base.html.twig' %}

{% block title %}Ajouter un Nouveau Trick!{% endblock %}

{% block body %}

<div class="container">
        <h1 class="my-5">Créer un nouveau Trick</h1>

        {{ form_start(form) }}

        {{ form_widget(form) }}

        <button type="submit" class="btn btn-primary float-right">Enregistrer ce nouveau Trick</button>
        {{ form_end(form) }}
        <br>
</div>
{% endblock %}

{% block javascripts %}
        <script>
                //attend que le DOM soit chargé
                $( document ).ready(function() {
                //Pour inserer le nom de la cover image
                        const fileInputCover = $("#trick_coverImage");
                        const labelInput = $(".custom-file-label");

                        //initialise le texte des labels
                        labelInput.each(function () {
                                this.textContent = 'Aucun fichier Slectionné';
                        });

                        fileInputCover.change(function () {
                                //initialise le contenu
                                labelInput[0].innerHTML = '';
                                let labb = document.createElement('span');
                                labb.textContent = this.files[0].name;
                                labelInput[0].append(labb);
                        });

                });

        </script>

{% endblock %}